<%- include('./partials/header.ejs')%>
<main>
    <h1>A Error Has Occured</h1>
    <p>
    Error Status: <%= error.status %> <br>
    Error Description: <%= error.message %>
    </p>
</main>
<%- include('./partials/footer.ejs')%>