<%- include('../partials/header.ejs')%>
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- This controls the width of the box -->
            <div class="card shadow-sm">
                <div class="card-body">

                    <h2 class="text-center mb-4">Create New Listing</h2>
                    <form class="form" action='/products' method='POST' enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price" min="0.01" step="0.01" required>
                        </div>

                        <div class="mb-3">
                            <label for="condition" class="form-label">Condition:</label>
                            <input type="text" class="form-control" id="condition" name="condition" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Details:</label>
                            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>